    <nav>
        <div class="logo">
            <div class="dot"></div>
            <h4>Samuel Boateng</h4>
        </div>
        <ul class="navlinks">
             <li style="border-right:1px black solid ;border-left:1px black solid ;">
                <a href="/">Home</a>
            </li>
            <li style="border-left:1px black solid ;border-right:1px black solid ;">
                <a href="/resume">Resume</a>
            </li>
            <li style="border-right:1px black solid ;border-left:1px black solid ;">
                <a href="/projects">Projects</a>
            </li>
            <li style="border-right: 1px solid black;border-left:1px black solid ;">
                <a href="/contact">Contacts</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </nav>