<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My Portfolio Website">
    <meta name="keywords" content="HTML, CSS, JavaScript,Node JS, Projects, Samuel Boateng">
    <meta name="author" content="Samuel Boateng">
    <title>My portfolio site</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    {{> navbar}}
    <div class="main-div">
        {{{body}}}
    </div>
    
    {{> footer}}

    <script src="/js/navbar.js"></script>
</body>
</html>