<center>
    <header style="max-width: 85%;margin: 50px auto 10px auto;">
        <h1 class="paragraph">Projects</h1>
    </header>
</center>
<center>
<div class="bigger">
    <div class="left">
        <h2 class="paragraph" style="text-decoration: underline;">Solar Tracker</h2>
        <p class="paragraph">
            This project was a group project at school,where <br>
            we built a dual-axis solar tracker that can reposition itselt for maximum <br>
            sunlight absorption.The heart of this project is the Arduino microcontroller board...
        </p>
        <a href="https://github.com/sammy472/Embedded_Systems_Programs"><button class="visit">Visit</button></a>
    </div>
    <div class="right" style="overflow: hidden;">
        <img src="/img/solar.jpeg" alt="">
    </div>
    <div class="left">
        <h2 class="paragraph" style="text-decoration: underline;">Smart Dust bin</h2>
        <p class="paragraph">This project was inspired by friends at home.
                <br>They charged me to develop a smart dustbin that will notify each person <br>
                in the house when it's full by sending sms.Arduino is the brain of this project too.<br>
                It also has an integrated SIM900l module...                
            </p>
        <a href="#"><button class="visit">Visit</button></a>
    </div>
    <div class="right" style="overflow: hidden;">
        <img src="/img/dustbin.jpeg" alt="">
    </div>
    <div class="left">
        <h2 class="paragraph" style="text-decoration: underline;">Portfolio website</h2>
        <p class="paragraph">
            This one needs no introduction.It's the web app you are using now.<br>
            I created this simple portfolio website with NodeJS &amp; ExpressJS.<br>
            I just wanted to learn NodeJS, that's why...
        </p>
        <a href="https://sammy-portfolio-app.herokuapp.com/"><button class="visit">Visit</button></a>
    </div>
    <div class="right" style="overflow: hidden;">
        <img src="img/portfolio.jpg" alt="">
    </div>
    <div class="left">
        <h2 class="paragraph" style="text-decoration: underline;">Electronic Lock</h2>
        <p class="paragraph">This projects and simulated in Proteus software. It's a basic<br>
        project that unlocks for only authorised users using a PIN.
        </p>
        <a href="#"><button class="visit">Visit</button></a>
    </div>
    <div class="right" style="overflow: hidden;">
        <img src="/img/lock.jpeg" alt="">
    </div>
        <div class="left">
        <h2 class="paragraph" style="text-decoration: underline;">Sudoku Solver</h2>
        <p class="paragraph">In this project, I built a sudoku game solver using Python3 <br>
        and a visual version of the same algorithm using JavaScript that a user can actually play.<br>
        Check it out, it's awesome.
        </p>
        <a href="https://github.com/sammy472/Visual-Sudoku-Solver-JS"><button class="visit">Visit</button></a>
    </div>
    <div class="right" style="overflow: hidden;">
        <img src="/img/sudoku.png" alt="">
    </div>
        <div class="left">
        <h2 class="paragraph" style="text-decoration: underline;">Gaussian Elimination</h2>
        <p class="paragraph">A Python script that solves any dimension of linear equations.<br>
        All the functionalities of this project are encapsulated in a Python class.<br>
        Just check it out for your yourself BuddY. Thank You!!
        </p>
        <a href="https://github.com/sammy472/GaussianElimination"><button class="visit">Visit</button></a>
    </div>
    <div class="right" style="overflow: hidden;">
        <img src="/img/gauss.jpg" alt="">
    </div>
        <div class="left">
        <h2 class="paragraph" style="text-decoration: underline;">Youtube Downloader</h2>
        <p class="paragraph">This project is simple but interesting as well. It made me more comfortable<br>
        working with the Python3 os module as well as the bash terminal.<br>
        It's simply a Python cross-platform script that is run in the terminal.
        </p>
        <a href="https://github.com/sammy472/Youtube-downloader-script"><button class="visit">Visit</button></a>
    </div>
    <div class="right" style="overflow: hidden;">
        <img src="/img/youtube.png" alt="">
    </div>
    
</div>

</center>